<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="banner" >SkillParty</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>


    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="event.name" name="event.name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Description" [(ngModel)]="event.description" name="event.description">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Avaliable quantity" [(ngModel)]="event.avaliableQuantity" name="event.avaliableQuantity">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Price" [(ngModel)]="event.price" name="event.price">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Average vote" [(ngModel)]="event.averageVote" name="event.averageVote">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Category" [(ngModel)]="event.eventCategory" name="event.category">
      </mat-form-field>

    </form>

  <mat-card-actions>
    <button mat-raised-button (click)="addEvent()" color="primary">Add</button>
  </mat-card-actions>

