@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  padding-top: 60px;
  flex: 1 0 auto;
}

.footer-wrapper {
  flex-shrink: 0;
}

.required-sign:after {
  content: " *";
  color: red;
}
