<div class="row">

  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>

  <div class="row" *ngIf="event">
    <div class="col-xs-12">
      <h1>Event name</h1>
      <h3>{{event.name}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Event <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" >
          <li><a appHighlight  href="#">Edit event</a></li>
          <li><a appHighlight [highlightColor]="'#c9302c'" href="#">Delete event</a></li>
        </ul>
      </div>
    </div>
  </div>
<div *ngIf="event">
  <div class="row">
    <div class="col-xs-12">
      <h3>Event description</h3>
      <h4>{{event.description}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Avaliable quantity</h3>
      <h4>{{event.avaliableQuantity}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>price</h3>
      <h4>{{event.price}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>average Vote</h3>
      <h4>{{event.averageVote}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Event category</h3>
      <h4>{{event.eventCategory}}</h4>
    </div>
  </div>
</div>
</div>
