<div class="row">
  <div class="col-xs-12">
    <a
      (click)="addToFavourite(eventCategory)"
      class="list-group-item clearfix"
      style="cursor: pointer"
      *ngFor="let eventCategory of eventCategories">
      <div class="pull-left" align="left">
        <h4 class="list-group-item-heading">{{eventCategory.name}}</h4>

      </div>
      <span class="pull-right">
      <img
        [src]="eventCategory.imageUrl"
        alt="{{eventCategory.name}}"
        class="img-responsive"
        style="max-height: 50px;">
    </span>
    </a>
  </div>
</div>
