<h2>Users</h2>
<table class="table table-striped" align="center">
  <thead>
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">Email</th>
    <th scope="col">City</th>
    <th scope="col">Street</th>
    <th scope="col">houseNo</th>
    <th scope="col">flatNo</th>
    <th scope="col">phoneNo</th>
    <th scope="col">Manage</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users" align="left">
    <td scope="row">{{user.username}}</td>
    <td scope="row">{{user.name}}</td>
    <td scope="row">{{user.surname}}</td>
    <td scope="row">{{user.email}}</td>
    <td scope="row">{{user.city}}</td>
    <td scope="row">{{user.street}}</td>
    <td scope="row">{{user.houseNo}}</td>
    <td scope="row">{{user.flatNo}}</td>
    <td scope="row">{{user.phoneNo}}</td>
    <td scope="row">
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage User <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" >
          <li><a appHighlight  [routerLink]="['/user-edit', user.username]" >Edit user</a></li>
          <li><a appHighlight style="cursor: pointer;" [highlightColor]="'#c9302c'" (click)="deleteUser(user)">Delete user</a></li>
        </ul>
      </div>
    </td>
  </tr>
  </tbody>
</table>
