<div class="col-xs-12" *ngIf="user">

  <div class="row">
      <h2>User details</h2>
  </div>

  <div class="row">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage User <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >
        <li><a appHighlight  [routerLink]="['/user-edit', user.username]">Edit user</a></li>
        <li><a appHighlight [highlightColor]="'#5cb85c'" routerLink="/event-category-list">Add favourite category</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
      <h3>Username</h3>
      <h4>{{user.username}}</h4>
  </div>

  <div class="row">
    <h3>Name</h3>
    <h4>{{user.name}}</h4>
  </div>

  <div class="row">
    <h3>Surname</h3>
    <h4>{{user.surname}}</h4>
  </div>

  <div class="row">
    <h3>Email</h3>
    <h4>{{user.email}}</h4>
  </div>

  <div class="row">
    <h3>City</h3>
    <h4>{{user.city}}</h4>
  </div>

  <div class="row">
    <h3>Street</h3>
    <h4>{{user.street}}</h4>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>House number</h3>
      <h4>{{user.houseNo}}</h4>
    </div>
  </div>

  <div class="row">
    <h3>Flat number</h3>
    <h4>{{user.flatNo}}</h4>
  </div>

  <div class="row">
    <h3>Phone number</h3>
    <h4>{{user.phoneNo}}</h4>
  </div>

  <div class="row">
    <h3>Favourite categories</h3>
    <div *ngFor="let category of user.favouriteCategories">
      <h4>{{category}}</h4>
    </div>
  </div>

</div>
