<div class="row">
  <h3>Sign up</h3>
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="login()">
      <div class="form-group">
        <input placeholder="username" id="username" name="username" class="form-control" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <input placeholder="password" type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required>
      </div>
      <button class="btn btn-primary" type="submit" >Sign up</button>
    </form>
  </div>
</div>

<!--<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
    </form>
&lt;!&ndash;
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
&ndash;&gt;
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>-->

